:root {
    font-size: 62.5%;
  }
  
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  body {
    overflow: hidden;
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    text-decoration: none;
    color: currentColor;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: 1.6rem;
  }

  button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .app {
    position: relative;
    min-height: 100vh;
  }

  .icon {
    display: inline-block;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  .content-wrapper {
    width: 100%;
    max-width: 1120px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }